* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans" , sans-serif;
     
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwNDk4ODAxNA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.box-up {
  background: #000000;
  opacity: 0.8;
  border-radius: 25px;
  padding: 30px;
  width: 95%;
  max-width: 450px;
}

.input-cidade {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  background-color: #7c7c7c2b;
  color: #ffffff;
  width: calc(100% -100px);

}

.botao-busca {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  float: right;
  align-items: center;


}

.img-busca {
  width: 20px;

}

.caixa-media {
  margin-top: 30px;
  color: #ffffff;

}

.cidade {
  justify-content: space-around;
  margin-top: 20px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;

}

.temp {
  font-size: 20px;
  margin-top: 20px;
  color: #ffffff;
}

.caixa-menor {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #ffffff;
}

.texto-previsao {
  color: #ffffff;
  margin-left: 20px;
  text-transform: capitalize;

}

.umidade {
  color: #ffffff;
  margin: 10px;
}